
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/live.css" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Hello, world!</title><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

<body>
<%if(username==""){%>
  <!-- The Modal login-->
  <div id="login" class="modalLog modal" style="position:">

    <!-- Modal content -->
    <div class="modal-header" style="padding-top:0px !important;padding-bottom:0px !important;">

        <h6 class="modal-title" style="color:black;padding:10px 100px 10px 100px;text-align:center;">Login</h6>

        <span class="closeL close" style="margin:0">&times;</span>


   </div>
    <div class="modal-content loginModal" style="background: #f7f7f7;/*box-shadow: 50px 50px 550px 50px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;*/">


      <div class="logForm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" > <i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control inputForm mailLog" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" > <i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control inputForm passwordLog" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="form-check">
          <input type="checkbox"  class="form-check-input checkLog" id="exampleCheck1">
          <label class="form-check-label " for="exampleCheck1" style="font-size:12px; color:grey">Keep me logged in</label>
        </div>

        <button type="submit" class="btn btn-primary formLogBtn" style="float:right">Login</button>
      </div>
    </div>

  </div>


    <!-- The Modal login-->
    <div id="register" class="modal modalReg">

      <!-- Modal content -->
      <div class="modal-header" style="padding-top:0px !important;padding-bottom:0px !important;">

          <h6 class="modal-title" style="text-align: center;color:black;padding:10px 20px 10px 10px !important;text-align:center;">Create an account</h6>

          <span class="closeR close" style="margin:0">&times;</span>


     </div>
      <div class="modal-content registerModal" style="background: #f7f7f7;/*box-shadow: 50px 50px 550px 50px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;*/">

        <div class="logForm" >
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1" > <i class="fas fa-at"></i></span>
            </div>
            <input type="text" class="form-control inputForm mailReg" placeholder="Mail address" aria-label="Username" name="mail" aria-describedby="basic-addon1" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1" > <i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control inputForm passwordReg" name="password" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1" > <i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control inputForm passwordRegConfirm" placeholder="Confirm password" aria-label="Username" aria-describedby="basic-addon1">

          </div>
          <p id='message'></p>
          <button type="submit" class="btn btn-primary formRegBtn" style="float:right">Register</button>
        </div>
      </div>

    </div>
  <%}else{%>
    <div id="login" class="modal">

      <!-- Modal content -->
      <div class="modal-content loginModal" style="box-shadow: 50px 50px 550px 50px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
        <span class="closeL close" style="margin:10px">&times;</span>

        <div class="logForm">
          <h4>Account info</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1" > <i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control inputForm mailLog" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1" > <i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control inputForm passwordLog" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="form-check">
            <input type="checkbox"  class="form-check-input checkLog" id="exampleCheck1" checked>
            <label class="form-check-label " for="exampleCheck1" style="font-size:12px">Check me out</label>
          </div>

          <button type="submit" class="btn btn-primary formLogBtn">Login</button>
        </div>
      </div>

    </div>
    <%}%>
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left " style="width: 80%;background:#30415d;color:white;box-shadow: 50px 50px 550px 50px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-right:#031424 solid 2px" id="mySidebar" >
  <button class="w3-bar-item w3-button w3-large w3-hide-large closeButtonLeftMenu" style="padding:10px 15px 0px 10px !important;position:relative;text-align:right" onclick="w3_close()"><span style="margin-right: 10px;font-size:25px"> &times;</span></button>
  <%if(username==""){%>
    <ul style="list-style:none;display:block;padding:0">
      <li style="border-bottom:#AB987A solid 1px !important;"><button class="w3-bar-item w3-button" id="loginBtn" style=""><i class="fas fa-sign-in-alt" style="margin-right:20px;font-size:20px"></i> Login</button></li>
      <li style="border-bottom:#AB987A solid 1px !important;"><button class="w3-bar-item w3-button " id="regBtn" style="s"><i class="fas fa-registered" style="margin-right:20px;font-size:20px"></i> Register</button></li>
      <li style="border-bottom:#AB987A solid 1px !important;"><a class="w3-bar-item w3-button " href="/"><i class="fas fa-home" style="margin-right:18px;font-size:20px"></i> Home</a></li>
      <li style="border-bottom:#AB987A solid 1px !important;"><a class="w3-bar-item w3-button " href="/liveBetting" style=""><i class="fas fa-question-circle" style="margin-right:20px;font-size:20px"></i> <span style="">Info</span></a></li>

    </ul>



    <%}else{%>
      <ul style="list-style:none;display:block;padding:0">
        <li style="border-bottom:#AB987A solid 1px !important;"><button class="w3-bar-item w3-button" id="usernameLogged" ><i class="fas fa-user" style="margin-right:20px;font-size:20px;width:20px;margin-right:25px;margin-left:3px"></i><%= username%></button></li>
        <li style="border-bottom:#AB987A solid 1px !important;"><a class="w3-bar-item w3-button " href="/myBets"><i class="fas fa-archive" style="margin-right:20px;font-size:20px"></i> Your bets</a></li>
        <li style="border-bottom:#AB987A solid 1px !important;"><a class="w3-bar-item w3-button " href="/"><i class="fas fa-home" style="margin-right:20px;font-size:20px"></i> Home</a></li>
        <li style="border-bottom:#AB987A solid 1px !important;"><a class="w3-bar-item w3-button " style=""><i class="fas fa-question-circle" style="margin-right:25px;font-size:20px"></i> Info</a></li>
        <li style="border-bottom:#AB987A solid 1px !important;"><button class="w3-bar-item w3-button endSess"  ><i class="fas fa-sign-out-alt" style="margin-right:20px;font-size:20px"></i> Quit</button></li>

      </ul>

       <!-- The Modal login-->

      <%}%>


</div>

<div class="w3-main " >
  <div class="sticky-top ss align-self-start" id="removeSticky" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<div class="" style="background-color:#30415d !important">

    <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()" style="padding-top:0!important;color:white !important;background-color:#30415d !important;">&#9776;</button>
    <a href="/"><i class="fas fa-home" style="margin-right:18px;font-size:24px;color:white"></i></a>
    <h3 class="navbar-brand" href="/" style="margin-left:30px;color:white;font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;">TurfLive</h3>
    <div class="userInfo">
      <% if(username!=""){%>
        <p class= "" style="position:absolute;top:10px;right:10px;color:white;font-size:14px" >Your balance :<br> <span style="margin-left:15px" class="moneyUser"><%= money%><span>$</p>


      </div>
      </div>
      <div class="" style="background:#AB987A;padding-top:6px"></div>
      <div class="container-fluid " style="">


        <div class="row" style="background:#30415d;height:55px!important;">
          <div class="col-1 col-sm-1 col-md-1" >
          </div>
          <div class="col-5 col-sm-5 col-md-5" style="text-align:center;padding:10px;color:white;font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;">

            Bank of race:<br> <span class="moneyTotalBank"><%= totalBank %></span> $
          </div>
          <div class="col-5 col-sm-5 col-md-5" style="text-align:center;padding:10px;color:white">
            <div class="input-group mb-3">
              <input type="number" class="form-control inputForm stakeInsered" placeholder="Insert Stake" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-1 col-sm-1 col-md-1" >
          </div>
        </div>
      </div>
<%}else{%>
  <button class="w3-bar-item w3-button " id="signIn" style="background:none;border:none;color:white;font-size:14px; position:absolute;right:1px;top:10px;"><i class="fas fa-key" style="font-size:20px;color:"></i> </button>

      </div>
      </div>
      <div class=""style="background:#AB987A;padding-top:6px"></div>
      <div class="container-fluid " style="">
        <div class="row"  style="background-color:#30415d !important;height:50px;position:relative;padding:0 !important;">

          <div class="col-6 col-sm-6 col-md-6" style="padding:0 5px 0 5px">
            <button type="button" class="btn btn-primary loginQuickButton" >Login</button>
          </div>
          <div class="col-6 col-sm-6 col-md-6" style="padding:0 5px 0 5px">
            <button type="button" class="btn btn-primary registerQuickButton" >Register</button>
          </div>
        </div>

        <div class="row" style="background:#30415d;">
          <div class="col-1 col-sm-1 col-md-1" >
          </div>
          <div class="col-5 col-sm-5 col-md-5" style="text-align:center;padding:10px;color:white;">

            Bank of race:<br> <span class="moneyTotalBank"><%= totalBank %></span> $
          </div>
          <div class="col-6 col-sm-6 col-md-6" style="text-align:center;padding:10px;color:white;padding-left:5px;padding-right:5px">

              <input type="number" class="form-control inputForm stakeInsered" placeholder="Insert Stake" aria-label="Username" aria-describedby="basic-addon1" style="text-align:center;">

          </div>
        </div>
      </div>
<%}%>
</div>

<div class="container-fluid" style="background:white;">
  <div class="row" style="background:#373737;color:white">
    <div class="col-12 col-sm-12 col-md-12" style="padding: 15px">
      <img src="./img/en.jpg" alt="flag" width="20" height="18" style="margin-right:15px"><span style="position:relative;top:2px" class="counrtyName"><%= country%></span>
      <span style="float:right">
        <button type="button" class="btn " data-container="body" data-toggle="popover" data-placement="top" data-content="<%=comment%>" style="color:white;font-size:17px;padding:0">
  <i class="fas fa-info-circle" ></i>
</button>


       <span class="stadiumName"><%=stadium%></span> <%= time%></span></div>
  </div>

  <!--<div class="row" style="background:#373737;color:white;padding-bottom:15px">
    <div class="col-3 col-sm-3 col-md-3">

    </div>
    <div class="col-6 col-sm-6 col-md-6">
      <div class="tming">
        <%if(minutes!=null){%>
          <div class="matchInfoTime">
            <p style="font-size:16px;text-align:center;margin-bottom:0">Match ends in:</p>
            <p style="text-align:center;margin-bottom:0"><span class="minutes"><%=minutes%></span> : <span class="seconds"><%=seconds%></span></p>
          </div>
        <%}else{%>
          <p style="font-size:16px;text-align:center;margin-bottom:0">Match starts at:</p>
          <p style="text-align:center;margin-bottom:0"><%=time%></p>
        <%}%>
      </div>
    </div>
    <div class="col-3 col-sm-3 col-md-3">

    </div>
  </div>-->



  <div class="row">
    <div class="col-12 col-sm-12 col-md-12" style="margin-top:0;margin-bottom: 0;;padding:0;overflow-y:hidden !important;overflow-x:scroll;display:flex">


         <ul style="list-style:none;display:flex;margin:0;padding:28px 0 23px 0;">
            <%for (var i=0;i<arrayNextRaces.length;i++){%>

              <%if(i==0 ){%>
                <%if(raceId==arrayNextRaces[i].idGara){%>
                  <li class="nextRace0 nextRaceS" style="">
                  <%}else{%>
                    <li class="nextRace0" style="">
                  <%}%>

                <div class="liveTag" style="">
                  LIVE
                </div>
                <a href="/liveBetting?stad=<%=stadium%>&arrayRaces=<%=arrayNextRaces[i].idGara%>&paramss=1"  class=" <%=arrayNextRaces[i].idGara%>" style="font-size: 10px;"><span style="font-size:14px"><%=i+1%></span><br><span style="position:relative;top:-4px;font-size:11pxg"><%=arrayNextRaces[i].ora%></span></a></li>
              <%}else if(raceId==arrayNextRaces[i].idGara){%>
                <li class="nextRace nextRaceS" style="">  <a href="/liveBetting?stad=<%=stadium%>&arrayRaces=<%=arrayNextRaces[i].idGara%>&paramss=1" class=" <%=arrayNextRaces[i].idGara%>" style="font-size: 11px;"><span style="font-size:14px"><%=i+1%></span><br><span style="position:relative;top:-4px;"><%=arrayNextRaces[i].ora%></span></a></li>
              <%}else{%>
              <li class="nextRace" style="">  <a href="/liveBetting?stad=<%=stadium%>&arrayRaces=<%=arrayNextRaces[i].idGara%>&paramss=1" class=" <%=arrayNextRaces[i].idGara%>" style="font-size: 11px;"><span style="font-size:14px"><%=i+1%></span><br><span style="position:relative;top:-4px;"><%=arrayNextRaces[i].ora%></span></a></li>

                <%}%>
            <%}%>
          </ul>

    </div>
  </div>


<%if(jsonFavorites==null){%>
  <div class="row quickButtonsBetRow"  style="display:none">

    <div class="col-12 col-sm-12 col-md-12 quickButtonsBet" >

      <table class="table" style="border:none !important;">
        <thead style="border:none !important;">

        </thead>
        <tbody class="quickTableBet">

        </tbody>
      </table>

    </div>
  </div>
<%}else{%>
  <table class="table" style="border:none !important;">
    <thead style="border:none !important;">

    </thead>
    <tbody class="quickTableBet">
      <%for(var i=0;i<sizeJsonFav;i++){%>
          <%if(sizeJsonFav%2==0){%>
            <tr>
              <td class="quickTableBetTd<%=jsonFavorites[i].name_%>">
                <button type="button" class="btn btn-primary betButtonQuickPick <%=jsonFavorites[i].name_%> <%=jsonFavorites[i].idRace%> betButtonQuickPick<%=jsonFavorites[i].name_%>" onclick="betting('<%=jsonFavorites[i].name_%>','<%=jsonFavorites[i].idRace%>', this)" style="margin:0;margin-left:35px;margin-top:10px;"><%=jsonFavorites[i].horseName%></button>
              </td>
              <td class="quickTableBetTd<%=jsonFavorites[i+1].name_%>">
                <button type="button" class="btn btn-primary betButtonQuickPick <%=jsonFavorites[i+1].name_%> <%=jsonFavorites[i+1].idRace%> betButtonQuickPick<%=jsonFavorites[i+1].name_%>" onclick="betting('<%=jsonFavorites[i+1].name_%>','<%=jsonFavorites[i+1].idRace%>', this)" style="margin:0;margin-left:35px;margin-top:10px;"><%=jsonFavorites[i+1].horseName%></button>
              </td>
            </tr>

            <%i+=1%>
          <%}else if(sizeJsonFav==undefined){%>
            <tr>
              <td class="quickTableBetTd<%=jsonFavorites.name_%>">
                <button type="button" class="btn btn-primary betButtonQuickPick <%=jsonFavorites.name_%> <%=jsonFavorites.idRace%> betButtonQuickPick<%=jsonFavorites.name_%>" onclick="betting('<%=jsonFavorites.name_%>','<%=jsonFavorites.idRace%>', this)" style="margin:0;margin-left:35px;margin-top:10px;"><%=jsonFavorites.horseName%></button>
              </td>
            </tr>
          <%}else{%>

              <%if(i+1>=sizeJsonFav){%>
                <tr>
                  <td class="quickTableBetTd<%=jsonFavorites[i].name_%>">
                    <button type="button" class="btn btn-primary betButtonQuickPick <%=jsonFavorites[i].name_%> <%=jsonFavorites[i].idRace%> betButtonQuickPick<%=jsonFavorites[i].name_%>" onclick="betting('<%=jsonFavorites[i].name_%>','<%=jsonFavorites[i].idRace%>', this)" style="margin:0;margin-left:35px;margin-top:10px;"><%=jsonFavorites[i].horseName%></button>
                  </td>
                </tr>
              <%}else{%>
                <tr>
                  <td class="quickTableBetTd<%=jsonFavorites[i].name_%>">
                    <button type="button" class="btn btn-primary betButtonQuickPick <%=jsonFavorites[i].name_%> <%=jsonFavorites[i].idRace%> betButtonQuickPick<%=jsonFavorites[i].name_%>" onclick="betting('<%=jsonFavorites[i].name_%>','<%=jsonFavorites[i].idRace%>', this)" style="margin:0;margin-left:35px;margin-top:10px;"><%=jsonFavorites[i].horseName%></button>
                  </td>
                  <td class="quickTableBetTd<%=jsonFavorites[i+1].name_%>">
                    <button type="button" class="btn btn-primary betButtonQuickPick <%=jsonFavorites[i+1].name_%> <%=jsonFavorites[i+1].idRace%> betButtonQuickPick<%=jsonFavorites[i+1].name_%>" onclick="betting('<%=jsonFavorites[i+1].name_%>','<%=jsonFavorites[i+1].idRace%>', this)" style="margin:0;margin-left:35px;margin-top:10px;"><%=jsonFavorites[i+1].horseName%></button>
                  </td>
                </tr>
                <%i+=1%>
              <%}%>
          <%}%>


      <%}%>

    </tbody>
  </table>

<%}%>


  <div class="row">
    <div class="col-sm-11" style="padding:0">
        <!-- table with horses -->

        <div class="tableHorses" style="margin-top: 0">
          <table class="table tableHorsesLive" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <thead>
              <tr >
                <th style="text-align: center;">#</th>
                <th ><span style="margin-left:10px">Horse</span>  <span style="margin-left:70px">MoneyBetted</span></th>

                <th style="padding:0px;padding-right:3px">
                  <div class="form-check" style="margin-bottom: 8px;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="font-size:10px">Confirm bet</label>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="horsesTbody">
        <%if(betMoneyOnHorse!=null){%>
          <% for(var i=0;i<betMoneyOnHorse.length;i++){ %>
                <tr style="border-top:solid #d9d9d9 1px;" class="rowHorse-<%=betMoneyOnHorse[i].name%>">
                  <td style="width:13%;">
                    <div style="margin-left:5px;">
                    <div class="row" >
                      <div class="col-sm-12 col-12 col-xm-12" style="padding-right:0"><p style="margin:0;"><%= betMoneyOnHorse[i].steccato%> <%= betMoneyOnHorse[i].draw_label%></p></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-12 col-xm-12"><img src="/img/<%= betMoneyOnHorse[i].img%>" style="width:100%"></div>
                    </div>
                  </div>
                  </td>

                  <td style="width:65%">

                    <div class="row">
                      <div class="col-12 col-sm-12 col-xm-12"><b class="horseNameUs<%=betMoneyOnHorse[i].name%>"><%=betMoneyOnHorse[i].horseName%> <i class="fa fa-star star<%=betMoneyOnHorse[i].name%>" onclick="addFavouriteHorseQuick('<%=betMoneyOnHorse[i].horseName%>', '<%= raceId%>',this,'<%=betMoneyOnHorse[i].name%>')" aria-hidden="true" style=""></i></b></div>
                    </div>
                    <div class="row">
                      <div class="col-5 col-sm-5 col-xm-5" style="font-size:8px;padding-right:0;">


                        <div class="row">
                          <div class="col-12 col-sm-12 col-xm-12" style="font-size:8px">T:<%=betMoneyOnHorse[i].trainer%></div>
                        </div>

                        <div class="row">
                          <div class="col-12 col-sm-12 col-xm-12" style="font-size:8px">J:<%=betMoneyOnHorse[i].jockey%></div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-12 col-xm-12" style="font-size:8px"> age: <%=betMoneyOnHorse[i].age%> w: <%=betMoneyOnHorse[i].weight%></div>
                        </div>

                      </div>
                        <div class="col-7 col-sm-7 col-xm-7" style="padding:0">
                          <%if(betMoneyOnHorse!=null){%>
                          <!--<div class="row">
                              <div class="col-12 col-sm-12 col-xm-12"><div class="moneyTot_<%=betMoneyOnHorse[i].name%> moneyTot"><%= betMoneyOnHorse[i].betMoneyTotal%> $</div></div>
                            </div>-->
                              <% if(betMoneyOnHorse[i].betMoneyTotal==0){%>


                                    <div class="moneyTot_<%=betMoneyOnHorse[i].name%> moneyTot" style="position:relative;top:-12px;left:40%"><%= betMoneyOnHorse[i].betMoneyTotal%> $</div>
                                    <div class="lineDiv" style="position: relative;top:-10px;left:-7px;background:#f7f7f7;width:140px;height:12px;padding:0;margin-right: 20px;border:1px solid #e5e3e3;border-radius:10px">
                                    <div class="line line_<%=betMoneyOnHorse[i].name%>" style="width:0px ;"></div>
                                  </div>

                                <%}else{%>

                                    <div class="moneyTot_<%=betMoneyOnHorse[i].name%> moneyTot" style="position:relative;top:-12px;left:35%"><%= betMoneyOnHorse[i].betMoneyTotal%> $</div>
                                    <div class="lineDiv" style="position: relative;top:-10px;left:-7px;background:#f7f7f7;width:140px;height:12px;padding:0;margin-right: 30px;border:1px solid #e5e3e3;border-radius:10px">
                                      <div class="line line_<%=betMoneyOnHorse[i].name%>" style="width:<%= parseInt((parseInt(betMoneyOnHorse[i].betMoneyTotal)/totalBank*100))*173/100 %>px ;"></div>
                                    </div>

                                <%}%>
                          <%}else{%>
                            <div class="moneyTot_<%=betMoneyOnHorse[i].name%> moneyTot" style="position:relative;top:-12px;left:40%"><%= betMoneyOnHorse[i].betMoneyTotal%> $</div>
                            <div class="lineDiv" style="position: relative;top:-10px;left:-7px;background:#f7f7f7;width:140px;height:12px;padding:0;margin-right: 20px;border:1px solid #e5e3e3;border-radius:10px">
                            <div class="line line_<%=betMoneyOnHorse[i].name%>" style="width:0px ;"></div>
                          </div>
                          <%}%>


                        </div>
                    </div>



                  </td>
                  <td>
                    <%if(betMoneyOnHorse!=null){%>
                      <div class="betButton<%=betMoneyOnHorse[i].name%>">
                      <button type="button" class="btn btn-primary betButton <%=betMoneyOnHorse[i].name%> <%= raceId%> betButton<%=betMoneyOnHorse[i].name%>" onclick="betting('<%=betMoneyOnHorse[i].name%>', '<%= raceId%>',this)" style="margin:0;margin-left:35px;margin-top:10px;">BET</button>
                    </div>
                    <%}else{%>
                      <button type="button" class="btn btn-primary betButton "  style="margin:0;margin-left:35px;margin-top:10px;">BET</button>

                    <%}%>

                   </td>
                </tr>
            <% } %>
            <%}else{%>

              <% for(var i=0;i<jsonDataFirstLiveMatch.length;i++){ %>
                    <tr style="border-top:solid #d9d9d9 1px;" class="rowHorse-<%=jsonDataFirstLiveMatch[i].name%>">
                      <td style="width:13%;margin-left:40px;">
                        <div class="row" style="">
                          <div class="col-sm-12 col-12 col-xm-12" style="padding-right:0"><p style="margin:0;"><%= jsonDataFirstLiveMatch[i].steccato%> <%= jsonDataFirstLiveMatch[i].draw_label%></p></div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 col-12 col-xm-12"><img src="/img/<%= jsonDataFirstLiveMatch[i].img%>" style="width:100%"></div>
                        </div>
                      </td>

                      <td style="width:65%">

                        <div class="row">
                          <div class="col-12 col-sm-12 col-xm-12"><b><%=jsonDataFirstLiveMatch[i].horseName%> <i class="fa fa-star" onclick="addFavouriteHorseQuick('<%=jsonDataFirstLiveMatch[i].horseName%>', '<%= raceId%>',this,'<%=jsonDataFirstLiveMatch[i].name%>')" aria-hidden="true" style=""></i></b></div>
                        </div>
                        <div class="row">
                          <div class="col-5 col-sm-5 col-xm-5" style="font-size:9px;padding-right:0;">


                            <div class="row">
                              <div class="col-12 col-sm-12 col-xm-12" style="font-size:9px">T:<%=jsonDataFirstLiveMatch[i].trainer%></div>
                            </div>

                            <div class="row">
                              <div class="col-12 col-sm-12 col-xm-12" style="font-size:9px">J:<%=jsonDataFirstLiveMatch[i].jockey%></div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-sm-12 col-xm-12" style="font-size:9px"> age: <%=jsonDataFirstLiveMatch[i].age%> w: <%=jsonDataFirstLiveMatch[i].weight%></div>
                            </div>

                          </div>
                            <div class="col-7 col-sm-7 col-xm-7" style="padding:0">
                              <%if(betMoneyOnHorse!=null){%>
                              <!--<div class="row">
                                  <div class="col-12 col-sm-12 col-xm-12"><div class="moneyTot_<%=betMoneyOnHorse[i].name%> moneyTot"><%= betMoneyOnHorse[i].betMoneyTotal%> $</div></div>
                                </div>-->
                                  <% if(betMoneyOnHorse[i].betMoneyTotal==0){%>


                                        <div class="moneyTot_<%=betMoneyOnHorse[i].name%> moneyTot" style="position:relative;top:-12px;left:40%"><%= betMoneyOnHorse[i].betMoneyTotal%> $</div>
                                        <div class="lineDiv" style="position: relative;top:-10px;left:-7px;background:#f7f7f7;width:140px;height:12px;padding:0;margin-right: 20px;border:1px solid #e5e3e3;border-radius:10px">
                                        <div class="line line_<%=betMoneyOnHorse[i].name%>" style="width:0px ;"></div>
                                      </div>

                                    <%}else{%>

                                        <div class="moneyTot_<%=betMoneyOnHorse[i].name%> moneyTot" style="position:relative;top:-12px;left:35%"><%= betMoneyOnHorse[i].betMoneyTotal%> $</div>
                                        <div class="lineDiv" style="position: relative;top:-10px;left:-7px;background:#f7f7f7;width:140px;height:12px;padding:0;margin-right: 30px;border:1px solid #e5e3e3;border-radius:10px">
                                          <div class="line line_<%=betMoneyOnHorse[i].name%>" style="width:<%= parseInt((parseInt(betMoneyOnHorse[i].betMoneyTotal)/totalBank*100))*173/100 %>px ;"></div>
                                        </div>

                                    <%}%>
                              <%}else{%>
                                <div class=" moneyTot" style="position:relative;top:-12px;left:40%">0 $</div>
                                <div class="lineDiv" style="position: relative;top:-10px;left:-7px;background:#f7f7f7;width:140px;height:12px;padding:0;margin-right: 20px;border:1px solid #e5e3e3;border-radius:10px">
                                <div class="line " style="width:0px ;"></div>
                              </div>
                              <%}%>


                            </div>
                        </div>



                      </td>
                      <td>
                        <%if(betMoneyOnHorse!=null){%>
                          <div class="betButton<%=betMoneyOnHorse[i].name%>">
                          <button type="button" class="btn btn-primary betButton  <%=betMoneyOnHorse[i].name%> <%= raceId%> " onclick="betting('<%=betMoneyOnHorse[i].name%>', '<%= raceId%>',this)" style="margin:0;margin-left:35px;margin-top:10px;">BET</button>
                        </div>
                        <%}else{%>
                          <button type="button" class="btn btn-primary betButton "  style="margin:0;margin-left:35px;margin-top:10px;">BET</button>

                        <%}%>

                       </td>
                    </tr>
                <% } %>

            <%}%>
          </tbody>
        </table>
        </div>
        <!-- end table with horses -->
    </div>
    <div class="col-sm-1"></div>

  </div>
  <div class="row fixed-bottom popUpBetRow" style="opacity: 0;">
    <div class="col-12 col-sm-12 col-xm-12" style="">
      <div class="popUpBet"  >
      <h6 style="text-align:center;margin:5px 0 2px 0 !important;color:#004b80"><span class="moneyPopBet"></span>$ placed on <span class="horseNamePopBet"></span> <br>(at <span class="timePopBet"></span>) </h6>
      <!--<div class="row">
        <div class="col-1 col-sm-1 col-xm-1" style=""></div>
        <div class="col-10 col-sm-10 col-xm-10" style="">
          <table class="table " style="font-size: 15px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);text-align:center;margin:3px 0 2px 0 !important;">
            <thead style="font-size: 12px;">
              <tr>
                <th>Horse</th>
                <th>Time</th>
                <th>Betted</th>
              </tr>
            </thead>
            <tbody class="" style="font-size: 12px;">
              <tr>
                <td class="horseNamePopBet"></td>
                <td class="timePopBet"></td>
                <td class="moneyPopBet"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-1 col-sm-1 col-xm-1" style=""></div>
      </div>-->
      </div>
    </div>
  </div>
</div>
</div>


<footer style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);text-align:center;margin:3px 0 2px 0 !important;">
  <div class="conteiner-fluid" style="border-top:solid 1px grey">
    <div class="col-12 col-sm-12 col-xm-12" style="margin-top:20px;font-size:14px">
      <div class="row">
        <div class="col-3 col-sm-3 col-xm-3"></div>
        <div class="col-6 col-sm-6 col-xm-6">
          <svg id="svg2"  width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 75.8"><style>.st0{fill:url(#SVGID_1_)}</style><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="10" y1="37.381" x2="182.392" y2="37.381"><stop offset="0" stop-color="#241f5d"/><stop offset="1" stop-color="#034ea1"/></linearGradient><path class="st0" d="M75.5 10.5L52.9 64.4H38.2l-11.1-43c-.7-2.6-1.3-3.6-3.3-4.7-3.3-1.8-8.9-3.5-13.7-4.6l.3-1.6H34c3 0 5.7 2 6.4 5.5l5.9 31.2 14.5-36.7h14.7zm57.6 36.3c.1-14.2-19.7-15-19.5-21.3 0-1.9 1.9-4 5.9-4.5 2-.3 7.5-.5 13.7 2.4l2.4-11.4c-3.4-1.2-7.7-2.4-13-2.4-13.8 0-23.5 7.3-23.5 17.8-.1 7.8 6.9 12.1 12.2 14.7 5.4 2.6 7.2 4.3 7.2 6.7 0 3.6-4.3 5.2-8.3 5.3-7 .1-11.1-1.9-14.3-3.4l-2.5 11.8c3.3 1.5 9.3 2.8 15.5 2.9 14.6-.2 24.2-7.4 24.2-18.6m36.4 17.6h12.9l-11.2-53.8h-11.9c-2.7 0-4.9 1.6-5.9 3.9l-20.9 49.9H147l2.9-8h17.9l1.7 8zM154 45.3l7.3-20.2 4.2 20.2H154zM95.4 10.5L83.8 64.4H69.9l11.5-53.8h14z"/></svg>

          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="60px" height="60px" style="margin-left:20" viewBox="0 0 427 332" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>MasterCard</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="MasterCard">
            <path d="M426.486,132.248 C426.486,205.226 367.437,264.387 294.596,264.387 C221.755,264.387 162.706,205.226 162.706,132.248 C162.706,59.269 221.755,0.108 294.596,0.108 C367.437,0.108 426.486,59.269 426.486,132.248" id="Fill-1" fill="#EB982E"></path>
            <path d="M263.78,132.248 C263.78,205.226 204.731,264.387 131.89,264.387 C59.049,264.387 0,205.226 0,132.248 C0,59.269 59.049,0.108 131.89,0.108 C204.731,0.108 263.78,59.269 263.78,132.248" id="Fill-2" fill="#D5232A"></path>
            <path d="M213.243,28.226 C182.47,52.417 162.716,90.007 162.716,132.235 C162.716,174.463 182.47,212.083 213.243,236.273 C244.017,212.083 263.77,174.463 263.77,132.235 C263.77,90.007 244.017,52.417 213.243,28.226" id="Fill-3" fill="#E15929"></path>
            <path d="M29.34,329.756 L21.855,329.756 L21.855,294.829 L29.193,294.829 L29.193,299.085 C29.193,299.085 35.638,293.884 39.465,293.949 C46.908,294.075 51.352,300.406 51.352,300.406 C51.352,300.406 54.957,293.949 63.092,293.949 C75.121,293.949 76.886,304.955 76.886,304.955 L76.886,329.609 L69.695,329.609 L69.695,307.89 C69.695,307.89 69.721,301.286 61.918,301.286 C53.848,301.286 53.113,307.89 53.113,307.89 L53.113,329.609 L45.629,329.609 L45.629,307.743 C45.629,307.743 44.91,300.846 38.145,300.846 C29.358,300.846 29.193,307.89 29.193,307.89 L29.34,329.756" id="Fill-5" fill="#0A0A08"></path>
            <path d="M256.941,293.944 C253.114,293.879 246.67,299.08 246.67,299.08 L246.67,294.834 L239.324,294.834 L239.324,329.752 L246.813,329.752 L246.67,307.889 C246.67,307.889 246.835,300.859 255.622,300.859 C257.253,300.859 258.521,301.254 259.524,301.863 L259.524,301.835 L261.963,295.035 C260.491,294.415 258.817,293.976 256.941,293.944" id="Fill-6" fill="#0A0A08"></path>
            <path d="M362.368,293.944 C358.541,293.879 352.097,299.08 352.097,299.08 L352.097,294.834 L344.751,294.834 L344.751,329.752 L352.24,329.752 L352.097,307.889 C352.097,307.889 352.262,300.859 361.049,300.859 C362.68,300.859 363.948,301.254 364.951,301.863 L364.951,301.835 L367.39,295.035 C365.918,294.415 364.244,293.976 362.368,293.944" id="Fill-7" fill="#0A0A08"></path>
            <path d="M102.52,300.916 C108.538,300.916 113.423,306.151 113.423,312.594 C113.423,319.037 108.538,324.243 102.52,324.243 C96.503,324.243 91.646,319.037 91.646,312.594 C91.646,306.151 96.503,300.916 102.52,300.916 L102.52,300.916 Z M101.086,293.801 C89.885,293.801 83.958,303.868 83.928,312.278 C83.897,320.899 90.676,330.842 101.401,330.842 C107.659,330.842 112.799,326.223 112.799,326.223 L112.786,329.781 L120.152,329.781 L120.152,294.82 L112.76,294.82 L112.76,299.224 C112.76,299.224 107.932,293.801 101.086,293.801 L101.086,293.801 Z" id="Fill-8" fill="#0A0A08"></path>
            <path d="M317.36,300.916 C323.378,300.916 328.263,306.151 328.263,312.594 C328.263,319.037 323.378,324.243 317.36,324.243 C311.342,324.243 306.486,319.037 306.486,312.594 C306.486,306.151 311.342,300.916 317.36,300.916 L317.36,300.916 Z M315.925,293.801 C304.725,293.801 298.797,303.868 298.767,312.278 C298.737,320.899 305.515,330.842 316.241,330.842 C322.498,330.842 327.639,326.223 327.639,326.223 L327.625,329.781 L334.992,329.781 L334.992,294.82 L327.599,294.82 L327.599,299.224 C327.599,299.224 322.772,293.801 315.925,293.801 L315.925,293.801 Z" id="Fill-9" fill="#0A0A08"></path>
            <path d="M388.093,300.916 C394.11,300.916 398.996,306.151 398.996,312.594 C398.996,319.037 394.11,324.243 388.093,324.243 C382.075,324.243 377.218,319.037 377.218,312.594 C377.218,306.151 382.075,300.916 388.093,300.916 L388.093,300.916 Z M386.658,293.801 C375.457,293.801 369.53,303.868 369.5,312.278 C369.469,320.899 376.248,330.842 386.974,330.842 C393.231,330.842 398.371,326.223 398.371,326.223 L398.358,329.781 L405.725,329.781 L405.725,281.019 L398.332,281.019 L398.332,299.224 C398.332,299.224 393.504,293.801 386.658,293.801 L386.658,293.801 Z" id="Fill-10" fill="#0A0A08"></path>
            <path d="M142.629,330.93 C134.999,330.93 127.955,326.234 127.955,326.234 L131.183,321.244 C131.183,321.244 137.848,324.326 142.629,324.326 C145.736,324.326 150.931,323.323 150.994,320.217 C151.06,316.934 142.262,315.961 142.262,315.961 C142.262,315.961 129.129,315.782 129.129,304.955 C129.129,298.146 135.688,293.802 144.097,293.802 C148.956,293.802 158.038,298.058 158.038,298.058 L154.369,303.781 C154.369,303.781 147.357,300.979 143.657,300.846 C140.532,300.734 136.759,302.229 136.759,304.955 C136.759,312.36 158.625,304.378 158.625,319.336 C158.625,329.15 149.72,330.93 142.629,330.93" id="Fill-11" fill="#0A0A08"></path>
            <path d="M170.779,284.705 L170.779,294.862 L164.266,294.862 L164.266,302.207 L170.779,302.207 L170.779,319.767 C170.779,319.767 170.203,331.646 182.973,331.646 C186.504,331.646 193.417,329.035 193.417,329.035 L190.462,321.403 C190.462,321.403 187.713,323.748 184.609,323.669 C178.707,323.52 178.87,319.738 178.87,319.738 L178.87,302.207 L191.036,302.207 L191.036,294.862 L178.87,294.862 L178.87,284.705 L170.779,284.705" id="Fill-12" fill="#0A0A08"></path>
            <path d="M214.018,301.088 C214.301,301.072 214.605,301.088 214.907,301.088 C223.895,301.088 223.831,309.581 223.831,309.581 L205.669,309.581 C205.669,309.581 205.239,301.588 214.018,301.088 L214.018,301.088 Z M215.108,294.231 C203.098,294.231 197.098,304.123 197.147,312.709 C197.198,321.538 202.611,331.473 215.826,331.473 C221.481,331.473 229.426,326.51 229.426,326.51 L226.011,320.57 C226.011,320.57 220.59,324.415 215.826,324.415 C206.286,324.415 205.669,315.09 205.669,315.09 L231.205,315.09 C231.205,315.09 233.11,294.231 215.108,294.231 L215.108,294.231 Z" id="Fill-13" fill="#0A0A08"></path>
            <path d="M291.066,320.481 L294.49,327.329 C294.49,327.329 289.063,330.857 282.972,330.857 C270.362,330.857 263.36,321.367 263.36,312.387 C263.36,298.273 274.503,294.124 282.038,294.124 C288.877,294.124 294.801,298.067 294.801,298.067 L290.962,304.916 C290.962,304.916 288.634,301.284 281.83,301.284 C275.038,301.284 271.454,307.14 271.454,312.698 C271.454,318.927 275.626,324.216 281.934,324.216 C286.883,324.216 291.066,320.481 291.066,320.481" id="Fill-14" fill="#0A0A08"></path>
        </g>
    </g>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 50.409 50.409" style="enable-background:new 0 0 50.409 50.409;" xml:space="preserve">
<g>
	<g>
		<path d="M9.035,20.604C8.87,20.273,8.609,20,8.285,19.795c-0.338-0.207-0.737-0.352-1.193-0.438c-0.464-0.084-1-0.122-1.621-0.128    l-2.867,0.002c-0.298,0.004-0.59,0.236-0.66,0.524l-1.929,8.402c-0.07,0.284,0.117,0.522,0.415,0.522h1.373    c0.298,0,0.593-0.231,0.659-0.522l0.471-2.04c0.063-0.284,0.357-0.521,0.658-0.521h0.393c1.679-0.002,2.979-0.345,3.913-1.032    c0.939-0.688,1.402-1.597,1.402-2.723C9.298,21.348,9.217,20.934,9.035,20.604z M6.074,23.349    c-0.415,0.304-0.992,0.456-1.736,0.456H4.002c-0.299,0-0.482-0.236-0.417-0.524l0.413-1.784c0.058-0.286,0.359-0.523,0.654-0.521    l0.45-0.003c0.525,0,0.926,0.091,1.194,0.267c0.265,0.174,0.398,0.451,0.396,0.818C6.7,22.616,6.487,23.045,6.074,23.349z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<polygon points="48.175,19.887 48.089,19.913 47.974,19.929 47.833,19.907 47.761,19.837 47.728,19.727 47.726,19.562     47.726,18.951 48.185,18.951 48.185,18.762 47.726,18.762 47.726,18.381 47.499,18.381 47.499,18.762 47.345,18.762     47.345,18.951 47.499,18.951 47.499,19.662 47.605,20.014 47.917,20.126 48.048,20.115 48.187,20.088 48.187,19.887   " style="fill: rgb(0, 0, 0);"></polygon>
	</g>
</g>
<g>
	<g>
		<polygon points="50.304,18.859 49.976,18.724 49.734,18.773 49.488,18.939 49.345,18.78 49.113,18.725 48.89,18.774 48.679,18.91     48.679,18.762 48.456,18.762 48.456,20.097 48.678,20.097 48.678,19.1 48.865,18.984 49.051,18.938 49.203,18.965 49.278,19.042     49.311,19.17 49.322,19.335 49.322,20.098 49.545,20.098 49.545,19.244 49.541,19.173 49.537,19.108 49.727,18.987 49.915,18.94     50.062,18.967 50.142,19.044 50.17,19.173 50.185,19.336 50.185,20.099 50.409,20.099 50.409,19.232   " style="fill: rgb(0, 0, 0);"></polygon>
	</g>
</g>
<g>
	<g>
		<path d="M15.656,21.805c-0.518-0.292-1.336-0.438-2.454-0.438c-0.553,0-1.104,0.043-1.661,0.129    c-0.411,0.063-0.451,0.075-0.704,0.13c-0.522,0.114-0.604,0.635-0.604,0.635l-0.168,0.691c-0.095,0.441,0.159,0.424,0.265,0.387    c0.228-0.068,0.355-0.138,0.821-0.242c0.445-0.101,0.914-0.177,1.286-0.172c0.549,0,0.969,0.058,1.249,0.176    c0.276,0.12,0.414,0.326,0.414,0.624l-0.024,0.194l-0.198,0.122c-0.779,0.049-1.342,0.121-2.025,0.22    c-0.668,0.093-1.254,0.256-1.741,0.479c-0.523,0.23-0.911,0.539-1.182,0.932c-0.262,0.395-0.393,0.874-0.393,1.436    c0,0.529,0.19,0.966,0.559,1.304c0.371,0.332,0.861,0.494,1.447,0.494c0.371-0.002,0.658-0.031,0.862-0.08l0.665-0.229    l0.563-0.312l0.518-0.342l0.007,0.01l-0.052,0.22l-0.003,0.009v0.002c-0.056,0.268,0.106,0.488,0.367,0.514l0.005,0.006h0.024    h1.053h0.198l0.018-0.008c0.274-0.032,0.531-0.252,0.591-0.514l1.001-4.333l0.052-0.353l0.024-0.331    C16.44,22.551,16.175,22.096,15.656,21.805z M13.442,26.677l-0.214,0.282l-0.54,0.279c-0.254,0.103-0.495,0.155-0.718,0.155    c-0.338,0-0.603-0.049-0.782-0.149l-0.265-0.515c0-0.279,0.064-0.5,0.201-0.67l0.582-0.396c0.249-0.084,0.553-0.155,0.905-0.204    c0.314-0.039,0.934-0.11,1.015-0.112l0.095,0.167C13.702,25.609,13.526,26.345,13.442,26.677z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<path d="M40.594,21.811c-0.521-0.292-1.338-0.439-2.453-0.439c-0.553,0-1.105,0.043-1.66,0.132    c-0.412,0.06-0.453,0.073-0.707,0.127c-0.521,0.113-0.602,0.636-0.602,0.636l-0.168,0.69c-0.094,0.441,0.154,0.421,0.27,0.387    c0.229-0.068,0.352-0.135,0.814-0.243c0.443-0.1,0.916-0.174,1.289-0.172c0.547,0,0.967,0.059,1.246,0.177    c0.278,0.12,0.414,0.328,0.414,0.623l-0.021,0.193l-0.196,0.125c-0.787,0.047-1.351,0.119-2.027,0.218    c-0.666,0.093-1.254,0.255-1.742,0.479c-0.521,0.231-0.914,0.54-1.182,0.934c-0.265,0.395-0.394,0.873-0.394,1.43    c0,0.533,0.188,0.97,0.562,1.306c0.373,0.331,0.858,0.497,1.444,0.497c0.369-0.004,0.656-0.028,0.861-0.081l0.663-0.226    l0.568-0.312l0.514-0.346l0.009,0.011l-0.047,0.222l-0.005,0.004l0.002,0.004c-0.062,0.268,0.101,0.49,0.365,0.514l0.002,0.005    h0.024c0.173,0,0.771,0,1.056,0h0.194l0.021-0.007c0.271-0.033,0.527-0.253,0.584-0.518l1.004-4.327l0.053-0.355l0.029-0.332    C41.379,22.555,41.117,22.102,40.594,21.811z M38.385,26.683l-0.223,0.285l-0.535,0.277c-0.254,0.102-0.496,0.155-0.715,0.155    c-0.349,0-0.607-0.05-0.781-0.15l-0.268-0.513c0-0.28,0.065-0.499,0.196-0.672c0.133-0.163,0.336-0.297,0.588-0.395    c0.246-0.084,0.55-0.152,0.904-0.203c0.312-0.039,0.93-0.112,1.01-0.113l0.097,0.167C38.644,25.616,38.467,26.349,38.385,26.683z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<path d="M33.969,20.635c-0.172-0.333-0.43-0.602-0.756-0.812c-0.334-0.208-0.73-0.354-1.193-0.438    c-0.455-0.081-0.998-0.125-1.615-0.126l-2.871,0.002c-0.299,0.005-0.586,0.237-0.655,0.522l-1.931,8.406    c-0.07,0.285,0.122,0.521,0.414,0.521l1.375-0.002c0.292,0.002,0.591-0.232,0.66-0.52l0.465-2.041    c0.068-0.284,0.363-0.523,0.66-0.521h0.393c1.681,0,2.984-0.346,3.922-1.031c0.927-0.693,1.396-1.6,1.396-2.727    C34.228,21.377,34.143,20.962,33.969,20.635z M31.008,23.384c-0.414,0.298-0.992,0.45-1.732,0.45h-0.342    c-0.295,0.003-0.486-0.237-0.42-0.523l0.416-1.781c0.061-0.285,0.359-0.524,0.656-0.521l0.445-0.003    c0.528,0.003,0.924,0.09,1.194,0.266c0.269,0.176,0.396,0.452,0.399,0.818C31.627,22.648,31.42,23.078,31.008,23.384z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<path d="M45.742,19.85c0.063-0.287-0.117-0.52-0.412-0.516H44.1c-0.252,0-0.479,0.187-0.59,0.417l-0.068,0.106l-0.062,0.272    l-1.719,7.814l-0.056,0.24l0.002,0.006c-0.057,0.257,0.101,0.451,0.345,0.488l0.021,0.029h1.277c0.25,0,0.485-0.19,0.592-0.424    l0.066-0.1l1.838-8.331L45.742,19.85z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<path d="M24.986,21.472c-0.325,0.004-1.646,0-1.646,0c-0.296,0-0.676,0.239-0.864,0.524c0,0-1.966,3.374-2.157,3.713l-0.228-0.003    l-0.612-3.687c-0.068-0.29-0.371-0.538-0.748-0.538l-1.23,0.002c-0.296,0-0.478,0.236-0.411,0.524c0,0,0.934,5.315,1.121,6.566    c0.087,0.69-0.011,0.813-0.011,0.813l-1.216,2.118c-0.18,0.288-0.083,0.523,0.212,0.523l1.422-0.002    c0.296,0,0.685-0.233,0.861-0.522l5.47-9.252C24.949,22.252,25.475,21.461,24.986,21.472z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>


<svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" style="margin-left:20px" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 36.1 36.1" style="enable-background:new 0 0 36.1 36.1;" xml:space="preserve">
<g>
	<g>
		<path d="M26.761,15.605c-0.271-0.086-0.624,0.217-0.778,0.681c-0.162,0.464-0.063,0.91,0.211,0.994    c0.273,0.087,0.625-0.218,0.78-0.681C27.133,16.136,27.036,15.69,26.761,15.605z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<path d="M24.188,13.821c-0.125-0.082-0.325-0.121-0.599-0.121h-0.838l-0.302,1.467h0.988c0.257,0,0.46-0.06,0.611-0.179    c0.148-0.119,0.246-0.302,0.3-0.55c0.009-0.045,0.013-0.087,0.021-0.125c0.002-0.036,0.008-0.071,0.008-0.106    C24.377,14.03,24.315,13.902,24.188,13.821z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<polygon points="23.12,22.712 22.923,23.41 23.694,23.41 23.891,22.712   " style="fill: rgb(0, 0, 0);"></polygon>
	</g>
</g>
<g>
	<g>
		<path d="M23.887,20.014l-0.263,0.919c0,0,0.449-0.173,0.838-0.222c0.086-0.321,0.197-0.697,0.197-0.697H23.887z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<path d="M23.502,21.365l-0.265,0.961c0,0,0.5-0.246,0.84-0.267c0.101-0.37,0.199-0.694,0.199-0.694H23.502z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<path d="M16.309,15.517c-0.097-0.105-0.234-0.158-0.412-0.158c-0.235,0-0.426,0.083-0.576,0.248    c-0.151,0.166-0.258,0.415-0.326,0.748c-0.009,0.051-0.017,0.103-0.023,0.152c-0.005,0.051-0.007,0.099-0.006,0.143    c0,0.189,0.049,0.335,0.147,0.438c0.096,0.103,0.233,0.154,0.413,0.154c0.236,0,0.427-0.082,0.577-0.245    c0.15-0.162,0.256-0.408,0.322-0.734c0.01-0.051,0.018-0.104,0.023-0.158c0.004-0.052,0.007-0.101,0.007-0.146    C16.455,15.77,16.407,15.622,16.309,15.517z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<path d="M34.392,7.011l-8.515-0.002c-0.001,0-0.002,0-0.002,0c-0.009,0-0.015,0.001-0.021,0.001    c-1.17,0.036-2.627,0.974-2.892,2.131l-0.757,3.347h-0.702l0.757-3.347c0.266-1.157,1.723-2.095,2.893-2.131    c0.006,0,0.013-0.001,0.02-0.001h-3.404l-6.054-0.003c-0.015,0-0.03,0.001-0.046,0.002c-1.173,0.024-2.649,0.968-2.914,2.134    l-0.757,3.347H11.18l0.756-3.347c0.265-1.165,1.742-2.11,2.915-2.134L7.037,7.006c-1.18,0-2.692,0.955-2.962,2.136L0.047,26.96    C0.022,27.068,0.008,27.175,0,27.279v0.33c0.08,0.85,0.73,1.471,1.664,1.484h7.862c-1.161-0.018-1.884-0.968-1.618-2.136    l0.935-4.136h0.82l-0.935,4.136c-0.266,1.169,0.457,2.118,1.617,2.136h9.51c-1.162-0.018-1.883-0.968-1.618-2.136l0.313-1.386    h0.702l-0.313,1.386c-0.265,1.169,0.457,2.118,1.618,2.136h8.945c1.145-0.057,2.255-0.984,2.516-2.128l4.027-17.818    C36.313,7.968,35.571,7.01,34.392,7.011z M7.514,17.473c-0.425,0.314-0.975,0.472-1.648,0.472c-0.634,0-1.098-0.161-1.394-0.484    c-0.205-0.229-0.308-0.521-0.308-0.873c0-0.146,0.017-0.303,0.052-0.471l0.717-3.458h1.083l-0.708,3.418    c-0.022,0.096-0.03,0.184-0.029,0.263c-0.001,0.175,0.042,0.318,0.13,0.43c0.128,0.167,0.336,0.25,0.627,0.25    c0.333,0,0.607-0.081,0.82-0.246c0.213-0.163,0.352-0.394,0.414-0.696l0.71-3.418h1.077L8.34,16.118    C8.22,16.705,7.943,17.154,7.514,17.473z M11.842,15.742l-0.42,2.103h-0.787l0.381-1.906c0.039-0.197,0.028-0.344-0.033-0.438    c-0.059-0.095-0.173-0.142-0.338-0.142c-0.202,0-0.372,0.063-0.511,0.188c-0.139,0.126-0.231,0.301-0.276,0.524l-0.351,1.773H8.72    l0.617-3.087h0.765l-0.087,0.445l0.109-0.127c0.249-0.265,0.55-0.397,0.905-0.397c0.322,0,0.554,0.094,0.7,0.282    C11.872,15.149,11.911,15.408,11.842,15.742z M25.793,15.088c0.66-0.307,1.003-0.125,1.378,0.168l0.358-0.247l0.849-0.075    l-0.64,2.91l-0.978-0.025l-0.144-0.167C24.139,18.708,24.892,15.505,25.793,15.088z M27.544,19.744l-0.176,0.606h-0.715    c-0.273,0.015-0.412-0.087-0.426-0.313l-0.033-0.786h0.974l0.041,0.358c-0.007,0.092,0.049,0.135,0.164,0.135H27.544z     M21.889,12.843h2.223c0.426,0,0.755,0.098,0.984,0.288c0.227,0.192,0.34,0.468,0.34,0.828v0.011c0,0.068-0.005,0.146-0.012,0.229    c-0.011,0.082-0.023,0.166-0.043,0.253c-0.098,0.476-0.325,0.858-0.676,1.149c-0.354,0.289-0.771,0.435-1.25,0.435h-1.192    l-0.368,1.808h-1.031L21.889,12.843z M18.109,14.758h0.766l-0.087,0.445l0.107-0.127c0.248-0.265,0.551-0.397,0.905-0.397    c0.32,0,0.553,0.094,0.699,0.282c0.141,0.188,0.182,0.448,0.113,0.781l-0.42,2.103h-0.787l0.381-1.906    c0.039-0.197,0.03-0.344-0.031-0.438c-0.063-0.095-0.174-0.142-0.338-0.142c-0.202,0-0.372,0.063-0.512,0.188    c-0.139,0.126-0.231,0.301-0.275,0.524l-0.352,1.773h-0.786L18.109,14.758z M17.865,19.657l-0.157,0.58H16.24    c-0.169,0.254-0.377,0.373-0.628,0.358h-0.765l0.167-0.606h0.148c0.137,0,0.228-0.045,0.271-0.135l0.384-0.576h1.029l-0.215,0.379    H17.865z M13.071,17.843h-0.846l0.663-3.085h0.848L13.071,17.843z M13.85,14.383h-0.855l0.159-0.75h0.856L13.85,14.383z     M14.162,16.539c0.009-0.079,0.02-0.154,0.034-0.225c0.102-0.502,0.315-0.9,0.645-1.193c0.329-0.295,0.727-0.443,1.192-0.443    c0.382,0,0.684,0.107,0.905,0.32c0.221,0.214,0.332,0.504,0.332,0.871c0,0.063-0.005,0.136-0.013,0.214    c-0.011,0.08-0.022,0.156-0.036,0.231c-0.098,0.493-0.311,0.887-0.642,1.175c-0.33,0.291-0.726,0.435-1.188,0.435    c-0.382,0-0.683-0.105-0.904-0.314c-0.223-0.213-0.335-0.498-0.336-0.861C14.151,16.685,14.155,16.615,14.162,16.539z     M16.649,24.374h-1.655c-0.315,0-0.422-0.18-0.324-0.54l0.314-1.146h-0.676l0.171-0.632h0.677l0.165-0.606h-0.646l0.17-0.629    h2.704l-0.172,0.629H16.29l-0.166,0.608h1.058l-0.172,0.63h-1.059l-0.246,0.897c-0.06,0.149,0.02,0.217,0.24,0.202h0.862    L16.649,24.374z M21.009,22.573c-0.083,0.301-0.303,0.457-0.659,0.473h-0.47l-0.002,0.652c-0.009,0.102,0.086,0.156,0.281,0.156    h0.44l-0.145,0.518h-1.058c-0.295,0.011-0.442-0.129-0.438-0.428l0.066-1.752h0.883l-0.018,0.381h0.235    c0.119,0,0.178-0.039,0.178-0.113l0.07-0.247h0.732L21.009,22.573z M20.447,22.032h-1.939l-0.454,1.664    c-0.026,0.088,0.01,0.135,0.109,0.135h0.382l-0.141,0.517h-0.97c-0.373,0-0.527-0.11-0.466-0.337l1.284-4.738h0.905l-0.041,0.369    c0,0,0.511-0.383,0.973-0.383h1.712l-0.654,2.369C21.093,21.9,20.86,22.033,20.447,22.032z M24.593,24.083l-0.084,0.292h-1.001    l0.084-0.292h-1.977l0.191-0.674h0.198l0.966-3.396h-0.199l0.204-0.719h1.034l-0.045,0.265c0,0,0.527-0.265,0.909-0.265    c0.381,0,1.278,0,1.278,0l-0.203,0.719h-0.2l-0.966,3.396h0.201l-0.189,0.674H24.593z M28.877,21.202h-1.002l-0.173,0.606h1.002    l-0.188,0.65h-1.115l-0.252,0.381h0.543l0.127,0.766c0.015,0.076,0.082,0.112,0.197,0.112h0.17l-0.179,0.63h-0.601    c-0.31,0.016-0.47-0.087-0.484-0.314l-0.146-0.696L26.28,24.08c-0.116,0.21-0.299,0.308-0.541,0.292h-0.918l0.181-0.63h0.284    c0.117,0,0.218-0.053,0.305-0.157l0.777-1.124h-1.004l0.188-0.65h1.087l0.174-0.605h-1.089l0.187-0.652h3.15L28.877,21.202z     M30.057,18.439c-0.324,0.694-0.635,1.098-0.818,1.286c-0.184,0.187-0.545,0.619-1.418,0.587l0.076-0.529    c0.733-0.225,1.13-1.243,1.357-1.695l-0.27-3.322l0.565-0.008h0.475l0.051,2.084l0.894-2.084h0.904L30.057,18.439z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<path d="M18.804,20.954l-0.129,0.471h1.38c0.113,0.016,0.177-0.029,0.185-0.135l0.094-0.336H18.804z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
	<g>
		<path d="M19.084,19.943l-0.183,0.639c0,0,0.254-0.183,0.678-0.19c0.425-0.006,0.909,0,0.909,0l0.123-0.449H19.084z" style="fill: rgb(0, 0, 0);"></path>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
        </div>
        <div class="col-3 col-sm-3 col-xm-3"></div>
      </div>
      <div class="row">
        <div class="col-1 col-sm-1 col-xm-1"></div>
        <div class="col-10 col-sm-10 col-xm-10" style="float:left;border-top:1px solid grey;border-bottom:1px solid grey;">
          <div class="18plus" >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="opacity:0.5;margin:10px"><path d="M15 30C6.72 30 0 23.28 0 15 0 6.72 6.72 0 15 0c8.28 0 15 6.72 15 15 0 8.28-6.72 15-15 15zm0-2c7.18 0 13-5.82 13-13S22.18 2 15 2 2 7.82 2 15s5.82 13 13 13z"/><path d="M10.37 19H8.4v-3.78c0-.46.02-.88.04-1.26-.12.15-.27.3-.45.46l-.82.67-1-1.24 2.45-2h1.74V19zm4.2-7.24c.76 0 1.34.15 1.76.45.42.32.63.75.63 1.3 0 .38-.1.7-.3 1-.2.28-.5.53-.93.74.53.3.9.6 1.12.9.2.3.32.62.32.96 0 .64-.23 1.13-.7 1.48-.45.34-1.1.52-1.9.52-.85 0-1.5-.17-1.94-.5-.45-.35-.67-.84-.67-1.48 0-.4.1-.77.3-1.06.2-.3.53-.55 1-.8-.38-.24-.65-.52-.83-.8-.17-.3-.26-.62-.26-.97 0-.55.2-.98.64-1.28.44-.3 1.03-.46 1.78-.46zm-.84 5.28c0 .2.07.37.2.5.16.1.35.17.6.17.58 0 .87-.2.87-.62 0-.16-.06-.32-.2-.47-.12-.14-.34-.32-.66-.5-.3.14-.5.3-.62.45-.13.16-.2.32-.2.5zm.84-3.9c-.17 0-.3.06-.42.15-.12.1-.17.2-.17.37 0 .28.2.53.57.74.23-.12.4-.25.47-.36.1-.1.13-.23.13-.37 0-.16-.06-.28-.17-.38-.12-.1-.25-.15-.4-.15zm5.1 3h-1.83V14.8h1.82v-1.8h1.3v1.8h1.83v1.3h-1.83v1.77h-1.3v-1.77z"/></svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="99" height="13" style="opacity:0.5;margin:10px"><path d="M2.1 8.4v2.03h1.58c.6.04 1.12-.37 1.16-.97 0 0 0 0 0-.04 0-.64-.53-1.05-1.3-1.05L2.1 8.4zm0-2.96v1.8h1.46c.53.04 1.02-.33 1.05-.86 0-.04 0-.07 0-.07 0-.48-.47-.86-1.15-.86H2.1zM0 4.24h2.85c1.28 0 1.73.04 2.1.2.7.33 1.13 1 1.13 1.8 0 .74-.23 1.12-.98 1.5.8.26 1.3 1 1.24 1.83 0 1.24-.98 2.06-2.4 2.06H0v-1.2h.56v-5H0v-1.2z"/><path d="M11.14 8.15c0-.64-.52-1.13-1.12-1.13h-.04c-.64 0-1.16.5-1.28 1.1l2.44.03zm1.43 1.65c-.27 1.23-1.28 1.98-2.63 1.98-1.57 0-2.74-1.23-2.74-2.96s1.17-2.96 2.74-2.96c.86 0 1.7.4 2.18 1.16.37.64.6 1.35.56 2.1H8.63c.15 1.46 1.1 1.54 1.35 1.54.52.04 1-.34 1.16-.83l1.43-.03z"/><path d="M17.26 7.96h2.58v3.67h-.82v-1.16c-.15.26-.34.5-.56.7-.5.43-1.1.65-1.7.65-1.72 0-3.07-1.7-3.07-3.86 0-2.18 1.34-3.9 3.03-3.9.94-.04 1.76.48 2.2 1.27V4.17h.8v2.36h-.82c-.07-.34-.22-.64-.4-.9-.38-.5-.98-.8-1.58-.82-.9 0-2.25.8-2.25 3.08 0 1.8.97 3.12 2.25 3.12 1-.04 1.84-.8 2.02-1.77.04-.18.04-.4.04-.6h-1.76l.04-.67"/><path d="M24.53 8.75l-.52.07c-1.72.23-2.28.53-2.28 1.24.04.64.56 1.1 1.16 1.1.83-.05 1.54-.65 1.65-1.48v-.93zm1.62 2.92h-1.62v-1c-.37.7-1.12 1.1-1.9 1.1-.95.1-1.77-.66-1.85-1.6 0-.04 0-.07 0-.1 0-1.1.94-1.62 3.2-1.85l.52-.04v-.56c0-.64-.5-1.05-1.28-1.05-.8 0-1.2.26-1.35 1H21c.08-.44.3-.85.64-1.15.42-.34.98-.5 1.5-.5 1.17 0 2.14.54 2.14 1.96V11h.8l.07.67z"/><path d="M28.5 7.06c.27-.38.76-1.17 1.8-1.17.76 0 1.17.37 1.32 1.16.15-.27.3-.5.53-.72.34-.3.75-.48 1.2-.48.86 0 1.35.56 1.35 1.53v3.56h.8v.67h-1.6V7.7c0-.8-.25-1.17-.8-1.17-1 0-1.5 1.17-1.5 1.58v2.86h.8v.67h-1.64V7.58c0-.7-.26-1-.82-1-.87 0-1.5 1.08-1.5 1.6V11h.82v.67h-2.44V11h.83V6.64h-.83v-.67h1.65l.04 1.1"/><path d="M37.93 9.27c0 .94.7 1.7 1.6 1.76.98 0 1.58-.86 1.58-2.25 0-1.4-.62-2.2-1.56-2.2-.83 0-1.65.9-1.65 1.72l.03.97zM36.35 3.9h1.58v3.27c.22-.4.86-1.24 1.83-1.24 1.28 0 2.25 1.3 2.25 2.97 0 1.53-1.04 2.85-2.24 2.85-1 0-1.5-.68-1.83-1.13v1.05H36.3V11h.8V4.58h-.75V3.9z"/><path d="M42.5 3.9h1.6V11h.76v.67h-2.4V11h.82V4.54h-.78V3.9"/><path d="M49.55 8.37c0-.52-.2-1-.56-1.43-.28-.22-.6-.37-.95-.33-.72.04-1.32.53-1.5 1.2-.04.2-.12.38-.12.57h3.12zm.82 1.73c-.07.33-.22.6-.45.86-.45.52-1.08.82-1.8.82-1.54 0-2.62-1.2-2.62-2.92 0-1.65 1.08-2.93 2.47-2.93 1.4 0 2.52 1.1 2.52 3.08h-4.1c.07.83.26 1.32.63 1.7.3.26.68.4 1.06.4.62 0 1.04-.3 1.34-.97l.93-.03z"/><path d="M54.84 5.63l-.98 3.3h1.95l-.96-3.3zm-.9-1.4h1.8l2.06 6.24h.56v1.2h-1.68l-.5-1.6h-2.62l-.5 1.6h-1.7v-1.2h.55l2.04-6.23z"/><path d="M58.3 6h2.24v1.1h-.56l.78 3.33L61.7 6h1.47l.93 4.36.75-3.27h-.56V6h2.24v1.1h-.5l-1.2 4.53h-1.5l-.92-3.9-.9 3.9H60L58.77 7.1h-.5V6"/><path d="M70.52 9c-1.32.12-2.18.23-2.18 1.02 0 .45.38.75.94.75.68 0 1.24-.52 1.28-1.2V9h-.04zm1.35 1.58h.5v1.1h-1.78V11c-.42.52-1.06.78-1.73.78-1.13 0-2-.75-2-1.76 0-1.65 1.88-1.84 3.7-2 0-.85-.3-1.1-1.03-1.1-.7 0-.97.32-1 .85v.04l-1.36-.03c.07-1.13.97-1.84 2.32-1.84 1.58 0 2.4.7 2.4 2l-.03 2.65z"/><path d="M75.02 6.9c.37-.7.78-1 1.42-1 .23 0 .4.03.64.07v1.3c-.23-.03-.45-.06-.68-.06-.7-.03-1.3.5-1.35 1.17v2.18h.68v1.08H73.1v-1.08h.57V7.1h-.57V6h1.92v.9"/><path d="M81.28 8.15c0-.64-.52-1.13-1.12-1.13h-.04c-.64 0-1.17.5-1.28 1.1l2.44.03zm1.46 1.65c-.26 1.23-1.27 1.98-2.62 1.98-1.58 0-2.74-1.23-2.74-2.96s1.16-2.96 2.74-2.96c.86 0 1.7.4 2.17 1.16.37.64.6 1.35.56 2.1H78.8c.15 1.46 1.1 1.54 1.36 1.54.52.04 1-.34 1.16-.83l1.42-.03z"/><path d="M97.2 1.76c.05 0 .1-.02.14-.05.04 0 .07-.05.1-.1.02-.03.03-.1.03-.16 0-.1-.03-.17-.08-.23-.06-.05-.15-.08-.27-.08h-.63v.66h.53c.06 0 .1 0 .17-.02zM97.14.9c.18 0 .33.05.43.14.1.08.15.2.15.36 0 .12-.03.22-.08.3-.05.1-.13.15-.25.18.05.02.1.03.13.06.03.02.06.05.08.1.03.02.04.06.05.1 0 .05.02.1.02.14 0 .04 0 .1 0 .14 0 .05.02.1.03.14 0 .04 0 .1.03.13 0 .03.03.07.06.1h-.3c0-.02-.03-.05-.03-.08s0-.07 0-.1c0-.05-.02-.1-.02-.15 0-.04 0-.1 0-.14-.02-.04-.03-.1-.04-.13 0-.04-.02-.08-.04-.1-.02-.04-.05-.06-.1-.08C97.24 2 97.2 2 97.13 2h-.62v.8h-.25V.9h.9z"/><path d="M96.96.38c-.85 0-1.54.7-1.54 1.54 0 .85.7 1.54 1.54 1.54.85 0 1.54-.7 1.54-1.54 0-.85-.7-1.54-1.54-1.54zm0 3.38c-1 0-1.84-.83-1.84-1.84 0-1.02.83-1.84 1.84-1.84 1 0 1.84.82 1.84 1.84 0 1-.83 1.84-1.84 1.84z"/><path d="M83.53 11.6h.7v-.67h-.7z"/><path d="M86.7 11.2c.76 0 1.22-.62 1.22-1.64 0-.95-.48-1.56-1.23-1.56-.74 0-1.2.6-1.2 1.6s.46 1.6 1.2 1.6zm-1.84-1.62c0-1.24.76-2.1 1.86-2.1 1.07 0 1.86.9 1.86 2.1 0 1.26-.77 2.12-1.88 2.12-1.1 0-1.84-.85-1.84-2.12z"/><path d="M90.16 8.5c.2-.44.3-.56.48-.74.2-.18.48-.28.74-.28.1 0 .24.02.44.05v.6c-.2-.04-.32-.06-.43-.06-1.1 0-1.24 1.14-1.24 1.2v1.87h.7v.47H89v-.46h.58v-3.1h-.6v-.5h1.18v.95"/><path d="M95 9.05c0-.44-.54-1.08-1.16-1.08-.66 0-1.07.55-1.07 1.43 0 .9.4 1.44 1.1 1.44.6 0 1.13-.58 1.13-1.06v-.73zm0 1.57c-.37.52-.78.7-1.22.7-.97 0-1.64-.8-1.64-1.96 0-1.1.65-1.87 1.57-1.87.76 0 1.1.47 1.3.78v-.73h1.15v.48h-.57v3.34c0 .98-.63 1.53-1.73 1.53-.67 0-1.24-.3-1.5-.77-.06-.1-.1-.2-.18-.4h.66c.24.5.53.68 1.07.68.7 0 1.1-.35 1.1-.94v-.84z"/></svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="26" style="opacity:0.5;margin:10px"><path d="M0 25.16L8.28 0h8.74v9.5h-3.76V3.76h-2.1L5.4 21.25c5.12 0 7.7 0 7.7 0s0-.95 0-2.87h-2.73v-3.92H17v10.7H0zm21.7 0H17.9V0h8.74L36 25.16h-4.22L28.02 14.6H21.7v10.56zm0-21.4v6.64h4.8l-2.47-6.63H21.7z"/></svg>


<svg xmlns="http://www.w3.org/2000/svg" width="91" height="19" style="opacity:0.5;margin:10px 10px 10px 30px"><path d="M44.2 16.6H1.1c-.53 0-.96-.42-.96-.94V8.2c0-4.42 3.58-8 8-8H44.2c.53 0 .95.43.95.95v14.5c0 .53-.42.96-.95.96zM8.13.58C3.93.57.5 4 .5 8.2v7.46c0 .32.27.58.6.58h43.1c.32 0 .58-.26.58-.58V1.16c0-.33-.26-.6-.58-.6H8.13z"/><path d="M15.38 7.82v6c0 .05-.05.1-.1.1H12.9c-.06 0-.1-.05-.1-.1 0-.1-.1-.14-.16-.12-.24.08-.48.14-.72.17-.3.05-.6.07-.9.07-.7 0-1.4-.14-2.1-.4-.67-.28-1.3-.7-1.83-1.23-.54-.54-.95-1.15-1.2-1.83-.28-.68-.4-1.38-.4-2.1 0-.7.12-1.4.4-2.1.25-.68.66-1.3 1.2-1.84.55-.55 1.17-.96 1.85-1.23.7-.27 1.4-.4 2.1-.4.72 0 1.42.13 2.1.4.66.26 1.24.64 1.77 1.14.04.05.04.12 0 .17l-1.65 1.66c-.05.05-.12.05-.16 0-.27-.25-.57-.44-.9-.58-.4-.14-.76-.22-1.15-.22-.38 0-.76.08-1.13.22-.37.15-.7.37-1 .66-.3.3-.5.63-.66 1-.16.37-.23.75-.23 1.13 0 .4.07.77.23 1.14.15.38.37.7.66 1 .26.27.56.47.9.62.3.15.65.23 1 .26.35.02.7 0 1.04-.1.32-.1.62-.23.9-.42.03-.02.05-.06.05-.1v-.38c0-.06-.04-.1-.1-.1h-2c-.06 0-.12-.07-.12-.13V7.82c0-.06.06-.1.12-.1h4.57c.06 0 .1.04.1.1"/><path d="M24.13 13.86l-.4-1.2c0-.03-.04-.07-.1-.07h-3.32c-.04 0-.1.03-.1.07l-.4 1.2c-.02.04-.06.07-.1.07H17.2c-.08 0-.13-.08-.1-.15L20.8 2.9c0-.05.06-.08.1-.08h2.26c.05 0 .1.03.1.08L26.8 13.8c.03.07-.03.14-.1.14h-2.46c-.05 0-.1-.03-.1-.08m-2.88-3.82h1.48c.08 0 .14-.08.1-.15l-.7-2.23c-.04-.1-.2-.1-.23 0l-.75 2.22c-.02.06.03.14.1.14"/><path d="M36.6 2.82h2.45c.06 0 .12.05.12.1l.64 10.9c0 .07-.04.12-.1.12h-2.34c-.06 0-.1-.05-.1-.1L37 9.97c0-.12-.18-.15-.22-.03l-1.33 3.9c-.02.06-.06.1-.1.1h-2.4c-.05 0-.1-.04-.1-.1l-1.43-4.1c-.04-.1-.22-.1-.23.04l-.24 4.03c0 .06-.06.1-.12.1H28.5c-.07 0-.12-.04-.12-.1l.7-10.9c0-.06.05-.1.1-.1h2.46c.05 0 .1.02.1.07l2.3 6.57c.04.1.2.1.22 0L36.5 2.9c.02-.05.06-.08.1-.08"/><path d="M63.34 5.42h2c.07 0 .12-.05.12-.12V2.95c0-.06-.05-.1-.12-.1h-6.58c-.06 0-.1.04-.1.1V5.3c0 .07.04.12.1.12h2v8.4c0 .07.06.12.12.12h2.35c.06 0 .1-.05.1-.1V5.4zm-16.6 11c-.42 0-.76-.34-.76-.76V1.16c0-.43.34-.78.76-.78h43.1c.44 0 .78.35.78.77v7.47c0 4.3-3.5 7.8-7.8 7.8H46.74zm6.37-2.48c.3 0 .56-.03.83-.08.27-.06.54-.15.8-.27.66-.3 1.18-.75 1.56-1.34.36-.58.55-1.23.55-1.93 0-.72-.2-1.37-.56-1.96-.4-.58-.9-1.02-1.57-1.33-.18-.08-.36-.15-.54-.2-.18-.07-.36-.12-.53-.17-.2-.06-.37-.13-.54-.2-.17-.06-.33-.13-.47-.2-.15-.1-.25-.25-.3-.43-.05-.18-.04-.34.04-.5.06-.13.14-.2.24-.27.1-.06.2-.1.3-.1.1-.02.18-.02.26 0 .06 0 .1 0 .13.02 0 0 0 0 .02 0 .1.02.24.08.38.17.12.08.2.2.2.38.02.06.07.1.12.1h2.32c.07 0 .12-.05.12-.12-.02-.33-.08-.65-.2-.95-.1-.34-.28-.66-.5-.93-.24-.28-.5-.52-.8-.7-.33-.2-.67-.35-1.05-.44-.4-.1-.8-.13-1.17-.1-.38.03-.74.12-1.07.26-.33.15-.63.35-.9.6s-.5.55-.68.9c-.2.37-.3.76-.34 1.17-.04.4 0 .8.1 1.18.1.4.28.76.53 1.1.25.32.55.6.9.82.27.17.54.3.82.4.27.1.53.2.78.28.14.05.28.1.4.14.13.04.25.08.36.13.14.07.25.15.34.24.08.1.15.18.2.27.04.1.07.18.08.26 0 .08 0 .15 0 .2 0 .05 0 .1 0 .2 0 .07-.04.16-.08.24-.05.1-.12.18-.2.27-.1.1-.2.16-.34.22-.2.1-.4.13-.62.12-.2 0-.4-.07-.6-.2-.1-.05-.2-.17-.34-.33-.1-.15-.18-.35-.2-.6 0-.06-.05-.1-.1-.1h-2.34c-.06 0-.1.05-.1.1 0 .63.16 1.2.44 1.73.3.56.73 1.02 1.27 1.37.3.2.64.35 1 .45.34.1.7.14 1.04.14zM87.26 7.5c0-.62-.12-1.22-.36-1.78s-.57-1.05-1-1.47c-.4-.43-.9-.77-1.45-1.02-.55-.25-1.15-.38-1.78-.4h-2.45c-.06 0-.1.06-.1.12v10.88c0 .06.04.1.1.1h2.33c.06 0 .12-.04.12-.1v-1.55c0-.06.04-.1.1-.1.6-.03 1.16-.16 1.68-.4.55-.24 1.04-.58 1.46-1 .43-.42.76-.92 1-1.47.23-.56.35-1.15.35-1.8zM72.2 2.85c-.77 0-1.5.14-2.17.44-.67.3-1.26.7-1.76 1.18-.5.5-.9 1.1-1.18 1.77-.3.67-.45 1.4-.45 2.16 0 .76.15 1.48.44 2.15.28.68.68 1.27 1.17 1.76.5.5 1.1.9 1.76 1.2.68.3 1.4.44 2.16.44.76 0 1.48-.15 2.15-.44.68-.3 1.27-.7 1.77-1.2.5-.48.9-1.07 1.2-1.75.3-.67.43-1.4.43-2.16 0-.78-.14-1.5-.43-2.17-.3-.68-.7-1.27-1.2-1.77s-1.1-.9-1.77-1.18c-.67-.3-1.4-.44-2.16-.44z"/><path d="M82.67 9.5c0 .06.05.1.12.1.22 0 .45-.08.66-.17.25-.12.46-.27.64-.46.18-.2.33-.4.43-.66.1-.24.16-.5.16-.8 0-.28-.06-.55-.17-.8-.1-.25-.25-.47-.43-.66-.18-.2-.4-.34-.64-.46-.2-.1-.44-.16-.67-.18-.08 0-.13.05-.13.12V9.5z"/><path d="M72.2 11.38c.42 0 .8-.07 1.17-.23.36-.16.68-.37.95-.64.27-.27.5-.58.64-.95.16-.36.24-.75.24-1.16 0-.42-.08-.8-.24-1.18-.15-.36-.37-.68-.64-.95-.27-.27-.6-.48-.95-.64-.37-.16-.75-.24-1.17-.24-.4 0-.8.07-1.16.23-.37.16-.68.37-.96.64-.27.27-.48.6-.64.95-.16.37-.23.76-.23 1.17 0 .4.08.8.24 1.15.16.37.37.68.64.96.28.28.6.5.96.65.36.16.75.23 1.16.23"/></svg>

  <svg xmlns="http://www.w3.org/2000/svg" width="68" height="17" style="opacity:0.5;margin:10px"><path fill="#7A7A7A" d="M15.36 16.3c.12-1.2.25-2.33.35-3.45.1-1.06.17-2.12.22-3.18.02-.38.14-.53.55-.52 1.1 0 1.13-.02 1.55 1 .57 1.4 1.1 2.8 1.66 4.2.05.15.1.3.2.53.18-.42.32-.75.45-1.08.58-1.35 1.16-2.7 1.7-4.07.18-.43.4-.6.88-.58 1.12.05.94-.14 1 1 .08 1.88.2 3.76.3 5.64 0 .14 0 .3 0 .5h-1.28c-.07-1.8-.14-3.56-.2-5.32-.04 0-.07-.02-.1-.02-.1.16-.18.3-.25.48-.62 1.46-1.26 2.92-1.83 4.4-.2.52-.54.46-.93.5-.37.03-.5-.16-.64-.5-.55-1.47-1.13-2.93-1.7-4.4-.07-.17-.15-.33-.34-.48-.14 1.76-.3 3.53-.43 5.33h-1.14zm17.12-5.34c-.66 1.56-1.3 3.1-1.96 4.68-.3.7-.47.84-1.22.67-.16-.03-.33-.26-.4-.44-.57-1.43-1.12-2.87-1.67-4.3-.08-.2-.17-.38-.37-.55-.08.84-.17 1.66-.24 2.48-.06.74-.12 1.47-.12 2.2 0 .52-.2.73-.7.65-.15-.02-.3-.02-.53-.04.08-.7.16-1.34.2-2 .15-1.55.28-3.1.4-4.66 0-.38.13-.5.5-.5 1.14 0 1.15 0 1.58 1.05.56 1.37 1.1 2.76 1.64 4.15.04.14.1.27.22.5.32-.76.6-1.44.87-2.1.42-1.03.88-2.05 1.3-3.08.15-.4.37-.54.8-.52 1.06.06.96-.22 1 1.03.07 1.63.18 3.25.27 4.87.02.4.05.8.08 1.27-.4 0-.75.04-1.1-.02-.1-.03-.24-.32-.25-.5-.06-1.45-.1-2.9-.14-4.36 0-.15-.03-.3-.04-.45-.05-.02-.1-.03-.14-.04zM52.6 12.8c0-2.25 1.55-3.77 3.84-3.78 2.22 0 3.8 1.5 3.78 3.65-.02 2.2-1.64 3.8-3.86 3.8-2.3-.03-3.75-1.45-3.75-3.66zm1.35-.15c.1.5.16.95.3 1.38.36.95 1.1 1.46 2.08 1.5.97 0 1.74-.42 2.14-1.33.5-1.08.46-2.17-.15-3.2-.46-.78-1.2-1.08-2.1-1.04-.87.05-1.53.47-1.88 1.28-.2.45-.26.94-.4 1.4zM10.57 9.02c2.24-.06 3.8 1.37 3.88 3.55.07 2.18-1.53 3.83-3.77 3.9-2.17.04-3.78-1.37-3.84-3.36-.07-2.44 1.37-4 3.73-4.08zm2.47 3.58c-.04-.2-.08-.6-.2-.95-.32-1.1-1.17-1.72-2.28-1.7-1.08.03-1.93.64-2.15 1.77-.12.7-.14 1.46.04 2.12.47 1.76 2.67 2.27 3.87.96.54-.58.7-1.3.74-2.2zm48.38-3.44c.42 0 .8-.04 1.16.02.2.03.4.2.5.36 1 1.4 1.97 2.8 2.94 4.22.1.14.2.28.36.5v-5c.07-.05.1-.08.13-.08 1.05-.1 1.04-.1 1.04.95 0 1.86 0 3.73 0 5.6v.5c-.85.25-1.18.14-1.63-.53-.96-1.45-1.94-2.9-2.92-4.34-.1-.16-.23-.3-.4-.53-.03.22-.06.34-.06.46 0 1.4.02 2.83.05 4.26 0 .8.03.8-.77.77-.12 0-.23-.03-.38-.05V9.16zM42.8 9.4c-.15.32-.26.58-.33.76-.7-.06-1.32-.16-1.94-.17-.44-.02-.87.14-.98.65-.12.53.18.85.6 1.06.53.27 1.07.5 1.6.77.83.42 1.28 1.1 1.2 2.07-.07.82-.7 1.5-1.65 1.77-1 .3-2 .13-2.98-.18-.26-.08-.37-.22-.23-.5.07-.15.13-.33.2-.48.56.12 1.07.24 1.58.35.1 0 .17.02.26.03.73.03 1.34-.3 1.46-.8.12-.52-.2-.98-.92-1.32-.4-.17-.82-.33-1.22-.52-.92-.45-1.35-1.14-1.24-2.1.1-.9.73-1.37 1.54-1.6 1-.3 2-.2 3.03.2zm1.05 6.6c.14-.35.24-.6.35-.86.53.12 1.03.28 1.55.35.33.03.7.04 1-.1.3-.13.6-.4.7-.7.17-.4-.02-.8-.4-1-.42-.25-.86-.43-1.3-.64-.24-.12-.5-.22-.72-.37-.66-.43-1-1.04-.93-1.83.05-.74.5-1.23 1.13-1.53 1.13-.5 2.26-.37 3.44.02-.1.32-.2.6-.3.86-.48-.1-.93-.22-1.38-.24-.38-.02-.77.02-1.1.15-.58.24-.67.9-.2 1.3.25.24.6.4.9.55.4.2.8.35 1.16.56.76.42 1.14 1.06 1.08 1.94-.06.83-.52 1.36-1.25 1.68-1.25.53-2.47.3-3.75-.17zM6.08 9.44c-.1.26-.18.53-.28.82-1.53-.4-3-.67-4.02.9-.62.97-.52 2.53.18 3.35 1.08 1.28 2.4 1.14 3.83.56.1.27.2.53.32.8-1.47 1-4.05.68-5.25-.62-1.15-1.24-1.15-3.5 0-4.88C2 9.03 4.6 8.55 6.07 9.45zm29.4 6.88c0-1.42.02-2.74 0-4.05 0-.9 0-1.8-.03-2.68 0-.34.1-.47.43-.44.17 0 .35 0 .52 0 .32-.03.4.12.4.43 0 2.1 0 4.2 0 6.3 0 .33-.1.44-.4.43-.3 0-.6 0-.9 0zm15.92-.1c-.08.03-.1.05-.1.05-1.14.22-1.23.15-1.23-.97 0-1.86 0-3.73-.02-5.6 0-.42.1-.6.54-.55.14.02.3-.03.45.02.13.06.33.2.33.3.02 2.26.02 4.5.02 6.75z"/><path fill="#BABABA" d="M19.55 5.86c.23-.56.4-1.02.6-1.47.53-1.27 1.06-2.54 1.6-3.8.18-.4 1.32-.7 1.65-.4.08.1.1.25.1.38.13 2.1.23 4.2.36 6.3.02.33-.07.46-.38.44-.02 0-.04 0-.06 0-.9.04-.9.03-.92-.87-.04-1.47-.08-2.94-.24-4.46-.1.15-.2.3-.26.48-.6 1.45-1.25 2.9-1.8 4.37-.2.52-.56.45-.95.48-.4.02-.53-.18-.65-.5-.52-1.4-1.05-2.76-1.58-4.13-.1-.24-.2-.47-.43-.7-.06.44-.13.86-.16 1.3-.08 1.15-.15 2.3-.24 3.47 0 .18-.1.48-.2.5-.3.06-.6 0-.9-.04-.05 0-.08-.24-.07-.37.2-2.1.38-4.2.56-6.3.02-.28.12-.44.42-.43.02 0 .04 0 .06 0 1.42.02 1.08-.17 1.6 1.03.63 1.5 1.2 3.05 1.87 4.7zM44.92 5V1.18c0-.12 0-.24 0-.36 0-.62.37-.9.94-.62.13.06.23.32.24.5 0 2.06 0 4.13.02 6.2 0 .3-.1.42-.4.45-.58.05-.95-.1-1.27-.62-.88-1.38-1.83-2.73-2.75-4.1-.15-.2-.3-.42-.6-.6 0 .2 0 .36 0 .54 0 1.4 0 2.8 0 4.2 0 .57-.06.6-.74.6-.48 0-.43-.27-.43-.62.03-1.9.02-3.83.04-5.75 0-.27.06-.67.24-.8.4-.23 1.16-.02 1.4.3.85 1.22 1.7 2.43 2.53 3.63.22.32.44.64.65.96.05-.02.1-.03.14-.05zM28.96 3.47c.2.1.34.16.48.23.64.32 1.07.8 1.05 1.56-.04.82-.4 1.48-1.2 1.74-.55.18-1.14.26-1.7.3-.62.06-1.24 0-1.86.03-.46.02-.6-.17-.57-.6.05-1.1.08-2.2.08-3.3 0-.9-.03-1.8-.08-2.7-.02-.44.12-.63.58-.6.9.05 1.8 0 2.7.12 1.08.14 1.62.7 1.7 1.57.06.83-.48 1.26-1.2 1.64zm-2.46-1.4c0 .25-.03.5 0 .72.03.12.18.32.27.3.54-.02 1.1-.03 1.6-.18.22-.07.43-.45.48-.7.1-.64-.33-1.02-1.18-1.13-1.1-.15-1.16-.1-1.17 1zm0 3.17c0 .27-.02.55.02.82 0 .12.16.33.22.32.66-.06 1.35-.04 1.95-.27.7-.28.64-1.36-.04-1.7-.3-.16-.68-.25-1.03-.27-1.15-.07-1.15-.05-1.12 1.1zm-12.07 2.1c-.47 0-.83.02-1.18-.03-.15-.02-.33-.16-.4-.3-.2-.4-.3-.84-.5-1.23-.1-.2-.36-.4-.56-.4-.76-.05-1.5-.04-2.26 0-.18 0-.4.18-.5.33-.16.26-.24.57-.36.85-.37.85-.54.93-1.55.68.15-.3.28-.62.42-.93.83-1.87 1.68-3.74 2.47-5.63.23-.55.6-.56 1.05-.57.46 0 .56.26.7.6.8 2 1.6 3.97 2.4 5.95.07.18.15.37.26.67zM9.6 4.28h2.23c-.36-.98-.68-1.86-1-2.74-.04 0-.08 0-.12 0-.35.88-.7 1.76-1.1 2.73zM6.45 5.6c0 .16 0 .34 0 .5.02 1.05.02 1.06-1.04 1.22-1.3.2-2.6.25-3.77-.5C.5 6.1-.07 5.05 0 3.73.1 2.13.86.96 2.34.35 3.55-.14 4.8-.07 6.06.3c.3.07.4.22.27.52-.1.26-.15.57-.6.42-1-.35-2-.44-3 .05C1.7 1.8 1.2 3 1.44 4.3 1.7 5.57 2.6 6.42 3.78 6.5c1.33.1 1.36.07 1.36-1.25 0-.15 0-.3 0-.46 0-.67 0-.67.65-.68.68 0 .68 0 .67.7 0 .26 0 .52 0 .77zm46.9-4.3c-.43-.1-.86-.23-1.3-.3-1.48-.27-2.9.43-3.23 1.7-.6 2.3.7 4.06 3.1 3.8.34-.04.5-.2.5-.53 0-.46 0-.92 0-1.4 0-.3.12-.44.45-.45.86-.04.88-.03.88.85 0 .57.03 1.13-.02 1.7 0 .17-.22.47-.36.5-1 .1-2.06.3-3.05.17-1.83-.23-3.03-1.68-3.04-3.4 0-1.9 1.18-3.48 3.02-3.77.86-.14 1.77-.07 2.64.05.88.1.9.28.4 1.07zm-17.2 5.1c-.1.83-.2.92-.9.92-1 0-2 0-3 0-.4 0-.52-.14-.52-.54 0-2.03.03-4.07 0-6.1 0-.62.35-.53.73-.55.4-.03.64.07.62.56-.05 1.44-.07 2.9-.1 4.35 0 1.35 0 1.35 1.33 1.35h1.84zm2.3-2.67c0 1-.04 2.02 0 3.03.03.66-.38.54-.77.57-.46.03-.6-.15-.57-.6.05-1.44.07-2.88.08-4.32 0-.52-.05-1.05-.06-1.58-.02-.68 0-.7.62-.7.7 0 .7.02.7.68 0 .98 0 1.95 0 2.93z"/></svg>



          </div>
        </div>
        <div class="col-1 col-sm-1 col-xm-1"></div>
      </div>
      <small style="color:grey;font-style:center!important;"> TurfLive International Gaming Ltd. 2019 Gambling can be addictive - please play responsibly.</small>
    </div>
  </div>
</footer>


<script>
function w3_open() {
  $('#mySidebar').css('display','block');
  $('#removeSticky').removeClass('sticky-top');
//  document.getElementById("mySidebar").style.display = "block";
//  document.getElementById("removeSticky").class ="";
}

function w3_close() {
  $('#mySidebar').css('display','none');
  $('#removeSticky').addClass('sticky-top');
  //document.getElementById("mySidebar").style.display = "none";
//  document.getElementById("removeSticky").class ="sticky-top";
}

// Get the modal
var modaR = document.getElementById('register');

// Get the button that opens the modal
var btnR = document.getElementById("regBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closeR")[0];

// When the user clicks on the button, open the modal
btnR.onclick = function() {
  modaR.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modaR.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modaRr) {
    modaR.style.display = "none";
  }
}


// Get the modal
var modaL = document.getElementById('login');

// Get the button that opens the modal
var btnL = document.getElementById("loginBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closeL")[0];

// When the user clicks on the button, open the modal
btnL.onclick = function() {
  modaL.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modaL.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modaL) {
    modaL.style.display = "none";
  }
}
</script>

<script>
$( document ).ready(function() {
  <%if(arrayStelleCavalli!=null){%>
    <%for(var i=0;i<arrayStelleCavalli.length;i++){%>
      $('.star<%=arrayStelleCavalli[i].name_%>').css('color','orange');

    <%}%>
  <%}%>

});

</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/live.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>
</html>
